
# password for git user of gitlab
export Password="password"

export MySQLServerIP="(IP ADDRESS OF YOUR MYSQL SERVER)"
export MySQLServerPort="3306"
export MySQLPasswordForRoot="password"

export ServerName="(YOUR SERVER NAME FOR GITLAB)"
export GitlabPort="8080"

export LsyncdTargetHost="(YOUR SLAVE HOST)"
export LsyncdUser="(YOUR ACCOUNT OF SLAVE HOST)"
export LsyncdIdentityFile=$HOME/.ssh/id_rsa

