
export Password="password"

export MySQLServerIP="127.0.0.1"
export MySQLServerPort="3306"
export MySQLPasswordForRoot="root"

export ServerName="gl.uncate.org"
export GitlabPort="8080"

export LsyncdTargetHost="133.242.169.169"
export LsyncdUser="tnaka"
export LsyncdIdentityFile=$HOME/.ssh/id_rsa

